%h1 Hi, #{current_user.name}!
Welcome to your Dashboard

- if current_user.child_wishes.from_this_year.any?
  %p You alreaady wrote your letter to Santa for this year.
- else
  = link_to new_child_wish_path, class: 'write-santa-link' do
    %p Write your letter to Santa for #{Date.today.year}

- if current_user.presents.any?
  %h2 Your wishes
- else
  %h2 You don't have any wishes yet

%ul
  - current_user.presents.each do |present|
    %li= "#{present.created_at.year} - #{present.size.capitalize} #{present.color} #{present.name}"
